@model Wiz.Gringotts.UIWeb.Models.Transactions.BatchExpenseEditorForm

@{
    ViewBag.Title = "Add New Batch Expense";
}

@Html.Partial("_ModelErrors")

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Batch Expense</h3>
    </div>
    <div class="panel-body">
        @Html.EditorForModel()
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Modules/batch.transaction.editor.js")
    @Scripts.Render("~/Scripts/Modules/batch.expense.editor.js")
}