@model Wiz.Gringotts.UIWeb.Models.ExpenseCategories.ExpenseCategoryEditorForm
    
@{
    ViewBag.Title = "Edit Expense Category";
}

@Html.Partial("_ModelErrors")

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Expense Category</h3>
    </div>
    <div class="panel-body">
        @Html.EditorForModel()
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Modules/expense.category.editor.js")
}