html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.table {
  table-layout: fixed;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table td:last-child {
  overflow: visible;
}
.tooltip-inner {
  max-width: 500px !important;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.glimpse-nowrap {
  z-index: 10000 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: whitesmoke;
}
/*
 * Base structure
 */

/*
 * Global add-ons
 */

.spin {
  -webkit-animation: spin .2s infinite linear;
  -moz-animation: spin .2s infinite linear;
  -o-animation: spin .2s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.breadcrumb .active {
  font-weight: bold;
}

.breadcrumb .dropdown-menu {
    width: 200px;
}

.breadcrumb .pull-right:last-child:before {
  display: none;
}
.comments {
  height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.advanced-search {
    width: 270px;
}

.advanced-search li {
    margin: 10px;
}

#crop-image .btn {
  margin-top: 10px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.row .pagination-container .pagination {
  margin-top: 0;
}
.panel .panel-heading form {
  margin-top: -7px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/** Added from this point */
.twitter-typeahead{
     width: 100%;
}
.tt-dropdown-menu{
    width: 102%;
}
input.typeahead.tt-query{ /* This is optional */
    width: 300px !important;
}
