@using NExtensions
@model Wiz.Gringotts.UIWeb.Models.Organizations.OrganizationEditorForm

@{
    ViewBag.Title = "Add New Organization";
    
    if (Model.ParentOrganizationId.HasValue)
    {
        ViewBag.Title += " to {0}".FormatWith(Model.ParentOrganizationName);
    }
}

@Html.Partial("_ModelErrors")

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Organization</h3>
    </div>
    <div class="panel-body">
        @Html.EditorForModel()
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Modules/organization.editor.js")
}

